<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Ballot - Ranking</title>
    <meta charset="uft-8">
    <link rel="icon" href="/static/imagem/iconvote1.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="static/ballot.css">
    <style>
        #menu {       
            list-style-type: none;
            margin: 0;      
            padding: 0.5%;      
            overflow: hidden;
            float: left;
            background-color: #87CEEB;
            width: 99%;
        }
    </style>
</head>
<body>
    <ul id="menu">
    <a href="/"><img src= "static/imagem/iconvote1.png" style="width: 60px; height: 60px; float: left;"></a>
        <li class="intro" ><a class="intro" href="/votar">Votar</a></li>
        <li class="intro" ><a class="intro" href="/form_criar_votacao">Criar Votação</a></li>

        {%if usuario == True%}
            <p></p>
        {%else%}
            <li class="intro" ><a class="intro" href="/form_cadastrar">Efetuar Cadastro</a></li>
        {%endif%}

    </ul>   
    


</body>
</html>