<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Ballot - Votar</title>
    <meta charset="uft-8">
    <link rel="icon" href="/static/imagem/iconvote1.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="static/ballot.css">
    <style>
    
    #menu {       
        list-style-type: none;
        margin: 0;      
        padding: 0.5%;      
        overflow: hidden;
        float: left;
        background-color: #87CEEB;
        width: 99%;
    }
    </style>
</head>
<body>
    <ul id="menu">
	    <a href="/"><img src= "static/imagem/iconvote1.png" style="width: 60px; height: 60px; float: left;"></a>
        <li class="intro" ><a class="intro" href="/ver_ranking">Ranking</a></li>
        <li class="intro" ><a class="intro" href="/form_criar_votacao">Criar Votação</a></li>

        {%if usuario == True%}
            <p></p>
        {%else%}
            <li class="intro" ><a class="intro" href="/form_cadastrar">Efetuar Cadastro</a></li>
        {%endif%}

    </ul>   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>VOTE</h1>
    <br>
    <br>
    <div>
    <form action="/pagina_votacao" method="post">
        <label for="codV" method="post">Código da votação:</label>
        <input id="codV" type="text" placeholder="A0A0A0P">
        <input type="submit" value="Acessar votação">
    </form>
    
    <p style="text-align: center; font-size: 85%; ">Copyright 2019. All Rights Reserved. Powered by Ballot.</p>
</div>
</body>
</html>

